html{
    scroll-behavior: smooth;
}

body{
    font-family:sans-serif;
}

main{
    width:95%;
    margin:auto;
}

#navbar{
   background-color: darkcyan;
   position:fixed;
   width:  100%;
   transition:  top 0.3s;
   border-radius: 0 0 0 1.2em;
   overflow:  auto;
   white-space:  nowrap;
}

#navbar a{   
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

#navbar a:hover{
    background-color: none;
    color: black;
    border-radius: 1.2em;
    
}

img{
    width:100%;
    border-radius:  0px 2em; 
}

section{
padding-top:0.1em;
}

section .content{
    margin-top:50px;
    color: black;
    background-color: lightgrey;
    padding:1em 1.5em;
    border-radius: 15px;
    margin-top:1em;
}

section #underline{
    border-style:  solid;
    border-width: 0px 0px 3px 0px;
}

.junior{
       font-weight: bolder;
}

.fa fa-whatsapp {
    font-size: 60px;
    color: black;
}
.far fa-copyright{
    font-size: 60px;
}
#fa{
    color: black;
}
#fa:hover {
    color:  lightslategray;
}
}
.btn{
    border-radius: 12px;
   
}
#footer{
   text-align:  center;
   color: black;
   background-color: lightgray ;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top:  30px;
   margin-bottom:  65px;
   border-radius: 17px;
}
.footer{
    position: fixed ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray ;
    color: black;
    text-align: center;
    
    
}
.a_footer:hover {
    font-size: 1rem;
    color: darkslategray;
    font-size:30px;
}
