/*
Ooooh my God, you are officially a web developper. Go find a job !
You gotta pay me cause i am your coding supervisor now.
I made some changes on your codes. If you have any question, send me 100 unité before asking
Thanks for the comprehesion and erase those comments after reading it
*/

/*
MOBILE FIRST
##################
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  
}

main {
  width: 95%;
  margin: auto;
  margin-top: 5em;
}

#navbar {
  background-color: darkcyan;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top O.3s;
  overflow: auto;
  white-space: nowrap;
  border-radius: 0 0 0 1.2em;
  display: flex;
  justify-content: space-evenly;
}

#navbar a {
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

#navbar a:hover {
  background-color: none;
  color: black;
  border-radius: 1.2em;
}

img {
  width: 100%;
  max-width: 400px;
  border-radius: 0px 2em;
}

section {
  padding-top: 0.1em;
}

section .content {
  margin-top: 50px;
  color: black;
  background-color: lightgrey;
  padding: 1em 1.5em;
  border-radius: 15px;
  margin-top: 1em;
}

section #underline {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
}

.junior {
  font-weight: bolder;
}

#contact {
  text-align: center;
  color: black;
  background-color: lightgray;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  border-radius: 17px;
}

#contact .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

#whatsapp-icon {
  font-size: 2em;
  color: green;
}

#fa {
  color: green;
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
}

#fa:hover {
  color: lightslategray;
}

.btn {
  border-radius: 12px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  text-align: center;
}

.footer i {
  color: black;
  font-weight: bolder;
}

/*
RESPONSIVE DESIGN
##################
*/

/*Tablet Screen*/
@media (min-width: 768px) {
  section {
    width: 100%;
    margin: auto;
  }
}

/*Computer Screen*/
@media (min-width: 1024px) {
  section {
    width: 65%;
    margin: auto;
  }
  section .content {
    display: flex;
    gap: 3em;
  }
}

/*TV Screen*/
/* Qui va utiliser ton site web à la télévision ?
kie kie kie kie kie kie kie kie kie kie kie kie
LAMBA LIA TO KO SALA MEDIA QUERY TE
*/
